[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/gli"]
	path = external/gli
	url = https://github.com/g-truc/gli
[submodule "src/v2"]
	path = src/v2
	url = git@github.com:andrew168/v2.git
